h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: left !important;
  color: Darkblue !important;
  font-style: italic;

}

p {
  font-size: 15px;
  text-align: justify !important;
  width: 500px;
  color: Black !important;
  font-family: serif;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  font-family: cursive;
  color: #800000 !important;
}

li{
  font-size: 10px;
  color: black !important;
  font-family: fantasy;
}
